html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: tahoma;   
    height: 100vh; 
}
/*home header area*/
.homeHeader{
    background-color: whitesmoke;
    padding: 5px;
    height: 80px;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo-container i{
    font-size: 28px;
}
.logo-container img{
    width: 60px;
}
/* user profile area */
.up-header{
    background-color: whitesmoke;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    height: 80px;
}
.up-header i{
    font-size: 24px;
}.up-header h1{
    margin: 0;
    padding: 5px;
    font-size: 24px;
}
section{
    
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.user-img{
    max-width: 120px;
}
.personal-info{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 18px;
}
.personal-info input, textarea{
    border-radius: 25px;
    padding: 5px;
    font-size: 16px;
}

/*common nav section*/
nav{
    background-color: whitesmoke;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.menu-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}
.menu-container i, a{
    font-size: 18px;
}
.menu-container i, a{
    text-decoration: none;
    color: black;
}
/*settings section*/
.userProfileSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
}
.imgofUser img{
    width: 80px;
}
.dataofUser{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.fa-pen-to-square{
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(10, 10, 48);
    color: white;
    text-align: center;
}
.settingOption{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;    
}
.settingOption a, i{
    font-size: 22px;
    color: black;
}
.settingOption i{
    color: #367087;
}
.settingItems{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
/*login area*/
.loginContainer{
    padding: 10px;
}
.loginContainer h1{
    color: #3549b0;
    text-align: center;
    padding: 10px 5px;    
    font-size: 24px;
}
.middlesection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.middlesection label{
    font-size: 18px;
    color: #3549b0;
    font-weight: 600;
}
.middlesection input{
    font-size: 18px;
    background-color: rgb(235, 233, 233);
    padding: 5px;
    border: none;
}
#submit{
    width: 75%;
    background-color: #3549b0;
    border-radius: 25px;
    font-size: 18px;
    color: white;
}
#submitSection{
    display: flex;
    justify-content: center;
}
.middlesection span{
    color: #7a7a7a;
    text-align: right;
    font-size: 16px;
}
.newAccount{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;   
}
.newAccount span{
    color: #7a7a7a;
    padding: 10px;
    margin-top: 10px;  
}
.newAccount a{
    color:#3549b0;
    font-weight: 500;
    margin: 0;
    padding: 0;  
}
/*create account*/
.accountContainer{
    padding: 10px;
}
#accountTitle h1{
    color: #3549b0;
    font-size: 18px;
}
form div{
    display: grid;
    grid-template-columns: 10% 90%;
    padding-bottom: 5px;
}
form div input{
    background-color: #ece9e9;
    font-size: 16px;
    padding: 3px;
    border: none;   
}
form div i{
    color: #3549b0;
    font-size: 22px;  
}
form div div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form div div select{
    background-color: #ece9e9;
    font-size: 16px;
    padding: 3px;
    border: none;
}
#formSubmit{
    padding: 3px;
    background-color: #3549b0;
    width: 50%;
    color: white;
    font-size: 18px;
    border-radius: 25px;
}
form label{
    font-size: 18px;
    padding-bottom: 5px;
}
/*privacy*/
.commonContainer{
    padding: 10px;
    text-align: left;
}
.commonContainer h1{
    color: #367087;
    font-size: 22px;
}
.commonContainer p{
    font-size: 16px;
}.commonContainer h3{
    color: #367087;
    font-size: 18px;
}
.commonContainer ul li{
    font-size: 16px;
}
.commonContainer ol li{
    font-size: 16px;
}
